@page
@model IndexModel

<div class="text-center">
    <h1 class="display-4">@ViewRes.Texts.AppName</h1>

    <div class="row">
        <div class="col text-start">
            <p>
                Pořízení forenzního identifikačního značení znamená správné rozhodnutí k preventivní ochraně Vašeho majetku.
            </p>
            <p>
                Forenzní identifikační značení – syntetická DNA – znamená jednoznačné a neomylné spojení majitele s jeho předmětem. Ochrana UV prvkem spojená s identifikačním kódem, viditelným pouze speciálním UV světlem a identifikovatelným pouze k tomuto účelu určeném manuálním nebo digitálním mikroskopem.
            </p>
            <p>
                Když zloděje neodradí zámek, řetěz a další mechanické nebo elektronické zabezpečení, přichází ochrana neviditelná. Na označeném předmětu je umístěna samolepka informující o aplikaci syntetické DNA a tudíž informující zloděje o tom, že předmět, ač to na první pohled nevypadá, jen chráněn. Samolepka má čistě preventivní charakter, ale je neodstranitelná a nepřenositelná., obsahuje rovněž ochranné prvky a to především proti sloupnutí nebo odstranění.
            </p>
            <p>
                Aby celý systém ochrany byl ucelený, protože jinak by tato ochrana neměla význam, musí existovat databáze, registr, evidence…
            </p>
            <p>
                Každý výrobce neviditelného značení disponuje a uživatelům nabízí vlastní databázi ve které jsou však registrovány pouze předměty právě konkrétním výrobcem. Přístup do „výrobní databáze“ mají pouze subjekty působící v zemi původu. Ve většině případů se jedná o Velkou Británii, USA, Kanadu nebo Austrálii. Tyto databáze však nevyhovují parametrům jednak našich zákonů a hlavně neplní svůj účel. Jistě se shodneme na tom, že není bezpodmínečně nutné mít registrovaný svůj majetek v databázi např. britského výrobce bez možnosti přístupu našich orgánů činných v trestním řízení apod. Proto vznikl národní registr forenzního identifikačního značení REFIZ.
            </p>
            <p>
                Registr forenzního identifikačního značení REFIZ vznikl za podpory Odboru prevence kriminality Ministerstva vnitra.
            </p>
        </div>
    </div>
</div>